{{ define "header" }}
{{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
<article class="center ph3 pt5 pb4" style="max-width: 1260px; margin: 0 auto;">
<div class="nested-copy-line-height lh-copy {{ $.Param "post_content_classes" | default "serif"}} f4 nested-links {{ $.Param "text_color" | default "mid-gray" }} w-100">
{{- $content := .Content -}}
{{- $content = $content | replaceRE "src=\"/(videos|images)/" (printf "src=\"%s/$1/" ("/ivlab-web" | relURL)) -}}
{{- $content | safeHTML -}}
</div>
</article>
{{ end }}
